body
{
  font-family: "arial";
  background-color: black;
  color: white;
  text-align:justify;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left:100px;
}
header
{
  text-align:center;
}
