body
{
  font-family: "arial";
  background-color: black;
  color: white;
  text-align:justify;
  margin-top: 500px;
  margin-bottom: 40px;
  margin-right: 400px;
  margin-left: 400px;
}
header
{
  text-align:center;
}
